{% if picture %}
    {% if picture.histograms|length != 0 %}
        <div id="pic{{ picture.id }}" style="width:300px; height:300px;"></div>
    {% else %}
        No histogram
    {% endif %}

    <script>
        $(function () {
            $('#pic' + '{{ picture.id }}').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'RGB Distibution'
                },
                xAxis: {
                    categories: ['0-50', '51-100', '101-150', '151-200', '201-250', '251-255']
                },
                yAxis: {
                    title: {
                        text: 'Pixel Count (%)'
                    }
                },
                series: [
                    {% for h in picture.histograms if h.color != 'alpha' %}
                    {
                        name: '{{ h.color|capitalize }}',
                        data: [{{ h.getValueArray|arrayMultiply|join(',') }}],
                        color: '{{ h.color }}'
                    },
                    {% endfor %}
                ]
            });
        });
    </script>

{% else %}
    Invalid Picture
{% endif %}