{% extends 'BorisRedditBundle::base.html.twig' %}

{% block body %}
    <div id="carousel" class="owl-carousel">
        {% for post in posts %}
            {% for picture in post.pictures %}
                {% include 'BorisRedditBundle:Default:show.html.twig' with {'picture': picture} %}
            {% endfor %}
        {% endfor %}
    </div>
    <div id="display"></div>
    <div id="thumbs"></div>
{% endblock %}
