<div style="display: block;">
    <div class="displayPic" data-source="{{ image(picture.path).scaleResize(500, 500, 'black') }}">
        <img src="{{ image(picture.path).scaleResize(300, 300, 'black') }}">
    </div>


    {% if picture.histograms|length != 0 %}
        <div class="histogram" style="display:none;">
            {% include 'BorisRedditBundle:Default:hist.html.twig' with {'picture':picture} %}
        </div>
        <div class="hist-button">Histogram</div>

    {% else %}
        <div class="histogram" style="display:none;"></div>
        <div class="hist-create-button"
             data-target="{{ path('boris_reddit_createhistogram', {'pictureId' : picture.id}) }}">
            Create Histogram
        </div>
    {% endif %}

    <div>
        <a href="{{ picture.source }}" target="_blank">Source</a>
    </div>
    {% include 'BorisRedditBundle:Default:similar_menu.html.twig' with {'picture':picture} %}
</div>