<div>
    <span>Similar</span>
    <span class="link-button similar-button"
          data-url="{{ path('boris_reddit_findsimilar', {'pictureId': picture.id}) }}">+10</span>
      <span class="link-button similar-button"
            data-url="{{ path('boris_reddit_findsimilar', {'pictureId': picture.id, 'offset': 12}) }}">+12</span>
      <span class="link-button similar-button"
            data-url="{{ path('boris_reddit_findsimilar', {'pictureId': picture.id, 'offset': 15}) }}">+15</span>
      <span class="link-button similar-button"
            data-url="{{ path('boris_reddit_findsimilar', {'pictureId': picture.id, 'offset': 20}) }}">+20</span>
</div>
