{% for picture in pictures if pictures|length > 0 %}
    <div class="displayPic" onclick="previewDisplay()"
         data-source="{{ image(picture.path).scaleResize(500, 500, 'black') }}" style="float:left;">
        <img src="{{ image(picture.path).scaleResize(150, 150, 'black') }}"/>
    </div>
{% else %}
    No similar pictures for this offset.
{% endfor %}

<script>

    $('.displayPic').on('click', previewDisplay);

    function previewDisplay() {
        $("#display").html('<img src="' + $(this).data('source') + '">');
    };
</script>