{% extends "::base.html.twig" %}

{% block head %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script src="{{ asset('bundles/borisreddit/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/borisreddit/js/main.js') }}"></script>
    <link href="{{ asset('bundles/borisreddit/css/owl.carousel.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/borisreddit/css/owl.theme.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/borisreddit/css/main.css') }}" rel="stylesheet"/>
{% endblock %}