.hist-button, .hist-create-button, .link-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.owl-carousel {
    width: 95%;
}

#display {
    float: left;
    display:block;
    width: 600px;
}

#thumbs {
    float: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}